<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027923032857-256nkh7sfjm6j03euiinhoehnpni8d9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027923032857-256nkh7sfjm6j03euiinhoehnpni8d9e</string>
	<key>API_KEY</key>
	<string>AIzaSyBPdNRjsY7v5uCw0jQ9apPAb4FwxMm4Hn4</string>
	<key>GCM_SENDER_ID</key>
	<string>1027923032857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>smarthome-vize-30120104</string>
	<key>STORAGE_BUCKET</key>
	<string>smarthome-vize-30120104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027923032857:ios:c7aaf1502ece10ead46388</string>
</dict>
</plist>